.bookmarkContainer {
    background-color:white;
    border-radius: 30px;
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    transition: .4s ease;
    margin: .1rem 0;
    .bookmark {
        /*! keep */
        font-size: 1.2rem;
        color: #000;
        .bookmarkUrl{
            .a{
                color: grey;
            }
        }
        .a {
            text-decoration: none;
            color: black;
        }
    }
    .button {
        background-color: rgba(25, 5, 58, 0.8);
        text-transform: uppercase;
        cursor: pointer;
        color: ghostwhite;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        display: inline-block;
        margin-left: 1rem;
        border: 2px;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(23, 5, 58, 0.5);
        transition: .3s ease;
    }
    .button:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
        transform: scale(1.1);
        transition: .3s ease;
    }
}
.bookmarkContainer:hover{
    box-shadow: 0 0 10px solid white;
    transform: scale(1.1);
    transition: .4s ease;
}