h1{
  text-align: center;
  text-shadow: 1px 1px 1px rgb(250, 208, 0);
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-height: 75vh;
  .inputContainer {
    width: 30%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 1px rgb(250, 208, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1px solid rgb(250, 208, 0);
    border-bottom: 3px solid rgb(250, 208, 0);
    padding: 5rem;
    box-shadow: 25px 14px 100px rgb(69, 73, 102);
    background: rgb(58, 63, 99);

    .titleInputContainer {
      margin-bottom: 50px;
    }

    .inputTitle {
      margin: 0;
      font-size: 50px;
    }

    .input {
      border-radius: 10px;
      color: rgba(25, 5, 58, 0.5);
      display: inline-block;
      font-size: 2.5rem;
      height: 3.5rem;
      border: 0;
      background-color: aliceblue;
    }

    .input:focus{
      outline: none !important;
      border: 3px solid rgb(250, 208, 0);
      box-shadow: 0 0 10px #719ECE;
      color: rgba(25, 5, 58, 0.8);
    }

  }

  .bookmarksContainer {
    padding: 0 150px;
    overflow: hidden;
    overflow-y: scroll;
  }
}