.bookmarklist {
    display: flex;
    height: 91.5vh;
    background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(23,5, 58, 0.1);
    padding: 2rem;
    box-shadow: 2px 14px 10px #080808;
    .input {
        color:#000;
        display: inline-block;
        font-size: 2.5rem;
        height: 3.5rem;
        margin: 1rem;
        border: 0;
        background-color:aliceblue;
    }
    
}